@media (max-width: 800px) {
    .displayNone {
        display: none;
    }
    .headerNav {
        justify-content: flex-end;
    }
    .burgerMenu {
        opacity: 1;
        visibility: visible;
    }
    .navUl {
        position: absolute;
        flex-direction: column;
        z-index: 10;
        top: 130px;
        left: 0;
        width: 100%;
        height: 400px;
        background-color: #123B53;
        padding: 40px;
        transition: 1s;
        opacity: 0;
        visibility: hidden;
    }
    .efect {
        transition: 1s;
        margin-bottom: 100%;
    }
    .visibilityHidden {
        opacity: 1;
        visibility: visible;
    }
    .navUl>li {
        width: 50%;
        text-align: center;
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
        border-radius: 6px;
    }
    .navUl>li:hover {
        width: 80%;
        border-bottom: 2px solid lightgreen;
        transition: 0.5s;
        border-radius: 16px;
    }
    .section1Wraper {
        justify-content: end;
        margin-right: 20px;
        gap: 45px;
    }
    .section1Bgimg {
        height: 50%;
    }
    .section1RinghtBox,
    .section2RinghtBox {
        width: 279px;
        height: 279px;
        background: #fafafa26;
        backdrop-filter: blur(20px);
    }
    .crushed,
    .crushed2 {
        top: 140px;
        left: -40px;
        width: 80%;
        height: 50%;
        gap: 12px;
        padding: 10px;
    }
    .conenect>button {
        margin-left: 0;
    }
    .section1LeftBox>h2,
    .section2LeftBox>h2,
    .section3Title>h2 {
        font-size: 34px;
    }
    .section1LeftBox,
    .section2LeftBox {
        width: 95%;
    }
    .section1Btn {
        justify-content: center;
    }
    .section1Btn button {
        width: 50%;
        height: 65px;
    }
    .section1LeftBox>p,
    .section2LeftBox>p {
        font-size: 14px;
        width: auto;
    }
    .section1BottomLine {
        height: 147px;
    }
    /* section 2 */
    .section2Bgimg {
        width: 90%;
        height: 40%;
        top: 147px;
    }
    .section2 {
        margin-top: 60px;
    }
    .crushed2 {
        top: -50px;
        left: -40px;
    }
    .section2Wraper {
        width: 90%;
        justify-content: end;
        gap: 40px;
    }
    .section2Register {
        width: 70%;
        height: 70px;
        font-weight: 800;
    }
    /* section 3 */
    .section3 {
        align-items: center;
        margin-top: 100px;
    }
    .section3Title {
        flex-direction: column;
        justify-content: center;
        width: 90%;
        text-align: center;
    }
    .section3Title>h2 {
        width: 100%;
    }
    .section3Title>p {
        width: 90%;
    }
    .smollBoxImg {
        width: 209px;
        height: 209px;
        background-color: azure;
    }
    .bottomSmollBox {
        gap: 40px;
        width: 209px;
    }
    .bidPrice {
        width: 100%;
        height: 33%;
        flex-direction: column;
        gap: 15px;
        justify-content: space-between;
    }
    .bid {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 13px;
        background-color: #a9deee1a;
    }
    .userForm>img {
        width: 45px;
        height: 45px;
    }
    .artistUser>p {
        font-size: 13px;
    }
    .userForm h3 {
        font-size: 16px;
    }
    .overFlow {
        overflow: auto;
    }
    /* section 4 */
    .section4Wraper {
        width: 90%;
    }
    .section4Title>h2 {
        font-size: 34px;
        width: 95%;
    }
    .section4SmollBoxContent {
        width: 70%;
    }
    .section4BoxWrap {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin: 50px 0 100px;
    }
    .section4SmollBox {
        width: 90%;
        height: 406px;
        margin: 0;
    }
    /* section 5 */
    .section5Box>h2 {
        font-size: 34px;
        width: 80%;
        line-height: 42px;
    }
    .btnEmail {
        flex-direction: column;
        width: 85%;
    }
    .btnEmailRes {
        display: flex;
        background-color: rgba(255, 255, 255, 0.6);
        border: none;
        color: #123B53;
        font-weight: 800;
        cursor: pointer;
    }
    /* footer */
    footer {
        position: relative;
    }
    .footerDiv {
        flex-direction: column;
    }
    .footerTitle {
        width: 90%;
    }
    .footerList {
        width: 90%;
    }
    .footerList>ul {
        margin-top: 20px;
    }
    .btnEmail button {
        display: none;
    }
}

@media (max-width: 500px) {
    .contact {
        display: none;
    }
    .displayResponsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}